process {
    executor    = 'slurm'
    queue       = 'general'
    container   = '/QRISdata/Q9140/lmac/annot_lmac/containers/tiberius_latest.sif'
    time        = '12h'
    cpus        = 8
    memory      = '32 GB'
    clusterOptions = '--account=a_qaafi_chs --qos=normal'

    withLabel: gpu {
        queue          = 'gpu_cuda'
        cpus           = 8
        memory         = '64 GB'
        time           = '24h'
        clusterOptions = '--account=a_qaafi_chs --qos=gpu --gres=gpu:h100:1'
        containerOptions = '--nv'
    }

    withName: 'MINIPROT_ALIGN' {
        cpus   = 16
        memory = '128 GB'
        time   = '96h'
    }

    withName: 'HISAT2_MAP_PAIRED' {
        cpus   = 16
        memory = '32 GB'
        time   = '72h'
    }
}

// Override base.config singularity settings only
singularity {
    cacheDir   = '/scratch/user/uqctung/cache'
    pullTimeout = "3h"
}

workDir = '/scratch/user/uqctung/nextflow_work'

env {
    APPTAINER_TMPDIR   = '/scratch/user/uqctung/tmp'
    APPTAINER_CACHEDIR = '/scratch/user/uqctung/cache'
}